
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

/* BUTTON CSS */

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root{
  --my-font: 'Raleway', sans-serif;
}

body{
  font-family: var(--my-font);
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  max-width: 1150px;
  margin: 8rem auto;
}

.header{
  padding: 30px;
}

.form-wrapper{
  border: 1px solid black;
  border-radius: 5px;
  padding: 3rem;
  box-shadow: 5px 8px 8px 8px #8888;
}

#ddlelement{
  width: 300px;
  margin-top: 15px;
}

.data-heading{
  margin: 1rem 0;
  text-align: center;
}

.Form-heading{
  text-align: center;
}

.Employee-Details{
  margin: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  width: 300px;
}

.save-button{
  text-align: center;
}

.btn{
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  background-color: green;
  cursor: pointer;
  margin: 15px 0;
}

.data-content{
  width: 550px;
}

.grid-table{
  padding: 2rem;
  border: 1px solid black;
  box-shadow: 8px 8px 5px #8888;
}

h5{
  text-align: center;
  font-size: 1.2rem;
}

.drop-down{
  margin: 20px 0;
  border: 2px solid black;
  border-radius: 5px;
}

.form-container{
  height: 400px;
  width: 400px;
  margin: 7rem auto;
  border-radius: 10px;
  box-shadow: 5px 8px 8px 8px #8888;
}

.login input{
  width: 300px;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 0.3rem;
}

/* ************************** NAVBAR *********************** */

.navbar-container{
  width: 1100px;
  height: 70px;
  background-color: #232323;
  margin: 0.5rem auto;
  border-radius: 5px;
}

.data-component, .input-component{
  margin: 5rem auto;
  width: 1000px;
}

.home-component{
  margin: 5rem auto;
  width: 1100px;
}

.nav-heading{
  color: #fff;
}

.nav-list{
  display: flex;
  margin: 0 2rem;
}

.nav-list li{
  margin: 0 2rem;
}

.nav-list li a{
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

.nav-heading{
  margin: 0 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.error-msg{
  color: red;
}

.main-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.main-heading div{
  padding: 10px;
}